@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Esqueci minha senha";
}
<h2>Esqueci minha senha</h2>

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="ForgotPassword" method="post">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label class="form-label">E-mail</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button class="btn btn-primary">Enviar código</button>
</form>
